<ion-view hide-nav-bar="true" id="signin">
    <ion-content style=" background: url('img/sign-in-bg.png');">
        <div class="row">
            <div class="col-offset-25 col-50" style="margin-top:80px;margin-bottom:20px;">
                <img src="img/icon.png" alt="" style="display:block;width:100%;">
            </div>
        </div>


        <!--登录表单-->
        <div class="list">
            <label class="item item-input">
          <span style="margin-right:30px;"><i class="icon ion-android-phone-portrait"></i></span>
          <input type="number" ng-model="user.username" ng-blur="checkUsername()">
        </label>
            <label class="item item-input">
          <span style="margin-right:30px;"><i class="icon ion-locked"></i></span>
          <input type="password" ng-model="user.password">
        </label>
        </div>

        <div>
            <button class="button button-block full button-balanced" ng-click="login()">登录</button>
        </div>

        <!--注册 忘记密码-->
        <div class="row">
            <!-- 栅格布局25-50-25 -->
            <div class="col-33 text-center">
                <a href="#/signup">
                    <button class="button button-clear " style="color:#fff">
           注册
            </button>
                </a>
            </div>
            <div class="col-33 col-offset-33 text-center">
                <button class="button button-clear " style="color:#fff">
             忘记密码
            </button>
            </div>
        </div>
    </ion-content>
</ion-view>