body .navbar {
  background: #2385a1;
  border-bottom: 0; }
  body .navbar .navbar-brand {
    padding: 0; }
  body .navbar .nav.navbar-nav a {
    color: #fff; }
  body .navbar .navbar-toggle .icon-bar {
    background: #fff; }

body #home {
  margin-top: 44px;
  background: url(http://www.designbootstrap.com/livedemos/2015/01/18/design-agency/assets/img/home.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px; }
  body #home .overlay {
    min-height: 600px;
    background: rgba(131, 225, 123, 0.2);
    color: #fff; }
    body #home .overlay .row {
      padding-top: 60px; }
      body #home .overlay .row p {
        font-size: 24px; }

body #service {
  margin-bottom: 40px; }
  body #service .row {
    margin-bottom: 40px; }
    body #service .row i {
      color: red; }
      body #service .row i:hover {
        color: green;
        transform: scale(3, 3); }
