<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>第一个模板</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/template1.css">
</head>

<body>
    <!--导航栏 固定到顶端-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!--导航头 下面有开关按钮和 logo-->
            <div class="navbar-header">

                <!--开关按钮-->
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                </button>
                <!--logo  元素 内边距清0-->
                <a class="navbar-brand">
                    <img src="http://www.designbootstrap.com/livedemos/2015/01/18/design-agency/assets/img/vivaldi-logo.png" alt="" class="img-responsive">
                </a>

            </div>
            <!--折叠菜单-->
            <div class="navbar-collapse navbar-right scroll-me collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">Home</a></li>
                    <li><a href="">my workd</a></li>
                    <li><a href="">heh</a></li>
                    <li><a href="">编不出来了</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>